<h2>Hero List</h2>
<form [formGroup]="newHero" (ngSubmit)="onSubmit(newHero.value)">
  <input id="name" type="text" formControlName="name" />
  <button class="button" type="submit">
    Add
  </button>
</form>
<ul class="heroes">
  <li *ngFor="let hero of heroes; index as index">
    <div [routerLink]="['/details', hero.id]">
      <span class="badge">{{ hero.id }}</span> {{ hero.name }}
    </div>
    <button class="delete" title="delete hero" (click)="delete(index)">
      x
    </button>
  </li>
</ul>
